$blue-primary: #5191ff;
$green-primary: #65c280cf;
$yellow-primary: #ffad4f;

body {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

#root {
  max-width: 1200px;

  display: flex;
  flex-direction: column;

  @media (max-width: 960px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title-order {
  @media (max-width: 960px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
}
/*HEAD ORDER*/
.head-container {
  background-color: #333;
  box-shadow: 0px 2px 4px #111;
  border-radius: 5px;
  margin: 2rem;
  padding: 2rem;
}

.layout-head-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 960px) {
    grid-template-columns: none;
  }
}

.inputs-head-container {
  > * {
    margin: 1rem;
  }

  & .head-inputs {
    display: flex;
    padding: 0.5rem 0;
    border: 1px solid #555;
    border-radius: 5px;
    justify-content: space-between;

    > * {
      margin: 0 0.5rem;
      inline-size: -webkit-fill-available;
    }
  }
}

.process-order {
  border: 1px solid #555;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  > * {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
  }

  & h1 {
    margin: 0;
    padding: 0 0 0 2rem;
  }

  & span {
    text-align: center;
  }

  .totalPrice {
    display: flex;
    align-items: baseline;
    justify-content: center;

    & span {
      margin-left: 0.5rem;
      font-size: large;
    }
  }

  .orderState {
    & Button {
      &:hover {
        background-color: #333;
        box-shadow: 0 0 0 1px $blue-primary;
      }
    }
  }
}

/*DETAIL PRODUCT LIST*/
h3 {
  margin-top: 3rem;
  text-align: center;
}
h4 {
  text-align: right;
  margin-right: 0.5rem;
}

table {
  border-collapse: collapse;
  border-spacing: 2rem 1.5rem;
  width: 100%;
  margin: 0;

  @media (max-width: 960px) {
    max-width: 400px;
  }
}

thead {
  background-color: #555;
}

th {
  color: white;
  font-weight: 500;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  padding: 0.2rem;
}
td {
  text-align: center;
  padding: 0.5rem;
  text-align-last: center;
}

#checkbox-input {
  transform: scale(2);
}

.productId {
  background-color: #5d62a511;
}
.quantity-input-cell {
  text-align: right;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  & span {
    white-space: nowrap;
  }
  & input {
    text-align: right;
    width: 50px;
    font-size: large;
  }
}
.quantityOn {
  box-shadow: 10px 5px 0 1px $green-primary;
}
.quantityZero {
  box-shadow: 10px 5px 0 1px $yellow-primary;
}

.price-cell {
  text-align: right;
}
.price-editing-input {
  & input {
    width: 80px;
  }
}

.subtotal-cell {
  text-align: right;
  border: 1px solid #555;
}

.validated-product {
  background-color: $green-primary;
}

/* VALIDATIONS BUTTONS */
.hide {
  display: none;
}
.quantity-warning {
  color: rgb(255, 173, 79);
  font-size: 0.9rem;
  padding: 0px 15px;

  // box-shadow: 5px 0px 0 2px  rgb(255, 173, 79);

  transition: transform 0.5s;
  &:not(.hide) {
    transform: scale(1.2);
  }
}

.validation-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.validation-buttons {
  display: flex;
  justify-content: space-between;

  margin: 2rem;
  width: fit-content;

  & Button {
    margin: 0 0.2rem;
    border-color: #777;
    color: white;
    background-color: #777;
  }
}
